---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Ministerio Internacional Jesus es El Señor"
	description=`
    Bienvenido a la página web del Ministerio Internacional Jesús es el Señor.
    Encuentra recursos para crecer en tu fe, información sobre nuestros servicios y eventos, y oportunidades para involucrarte en nuestra comunidad cristiana.
    ¡Únete a nosotros mientras glorificamos a Dios y compartimos el amor de Cristo con el mundo!`
>
<main>

	<h1>Ministerio Internacional Jesus es El Señor</h1>
</main>
</Layout>
