
<footer>
    <p>Copyright 2024. Todos los derechos reservados. <span>Web desarrollada con ❤️ por <a href="https://github.com/joanbric">joanbric</a></span></p>
</footer>

<style>
    footer {
        padding-block: 2rem;
        text-align: center;
    }
</style>