---
import LayoutSlides from '@/layouts/LayoutSlides.astro'
---

<LayoutSlides title="Presentaci贸n" description="Presentaci贸n">
	<section>
		<h1>Presentaci贸n</h1>
		<ol>
			<li>
				<a href="/doctrina/presentacion/tiempos-salvacion"
					>Los Tres Tiempos de la Salvacion</a>
			</li>
			<li><a href="/doctrina/presentacion/justificacion">Justificaci贸n</a></li>
		</ol>
	</section>
	<section data-state="make-it-pop" data-transition="zoom">
		<section>Segunda pagina</section>
		<section data-background="#ff00f0">
			<h1>Tercera pagina</h1>
			<ul>
				<li class="fragment" data-fragment-index="2">Item 1</li>
				<li class="fragment" data-fragment-index="1">Item 2</li>
			</ul>
		</section>
	</section>
	<section>
		<h1>Amigos</h1>
		<div class="r-stack">
			<video
				class="fragment"
				data-autoplay
				width="50px"
				src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
			></video>
			<video
				class="fragment"
				data-autoplay
				width="50px"
				src="https://storage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"
			></video>
		</div>
	</section>
	<section>
		<p class="r-fit-text">La redencion de cristo</p>
	</section>
</LayoutSlides>
