---
import LayoutSlides from "@/layouts/LayoutSlides.astro";
---

<LayoutSlides title="Los tres tiempos de la salvacion | Presentación de la doctrina" description="">

    <section>
        <h1>Los tres tiempos de la salvacion</h1>
    </section>
</LayoutSlides>