---
// Supports weights 400-700
import '@fontsource-variable/lora'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
interface Props {
	title: string
	description: string
}
const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta name="description" content="{description}" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
		<slot />

		<script>
			import Reveal from 'reveal.js'
            import 'reveal.js/dist/reveal.css'
            import 'reveal.js/dist/theme/black.css'
			let deck = new Reveal()
			deck.initialize({
				controls: true,
			})
		</script>
	</body>
</html>

